.hero {
  background: linear-gradient(135deg, #0a2a43, #ffb703);
  color: white;
  text-align: center;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.hero .hero-buttons .btn {
  margin: 0 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}
.hero .hero-buttons .btn:hover {
  background-color: #ffa500;
  color: #fff;
}


.how-it-works {
  background: #ffffff;
  padding: 40px 20px;
  text-align: center;
}

.how-it-works h2 {
  font-size: 2rem;
  color: #0a2a43;
  margin-bottom: 30px;
}

.how-it-works .steps {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.how-it-works .step {
  max-width: 300px;
}

.how-it-works .step img {
 width: 100%;
  margin-bottom: 15px; 
  border-radius: 10px;
}

.how-it-works .step h3 {
  font-size: 1.2rem;
  color: #0a2a43;
  margin-bottom: 10px;
}

.how-it-works .step p {
  font-size: 0.9rem;
  color: #666;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .campaigns .campaigns-container {
    grid-template-columns: 1fr;
  }

  .how-it-works h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .hero .hero-buttons .btn {
    margin: 5px 0;
    width: 100%;
    display: block;
  }

  .campaigns h2 {
    font-size: 1.3rem;
  }

  .how-it-works h2 {
    font-size: 1.3rem;
  }
}
